/* Write your CSS! */
html {
  height: 100%; }

body {
  background: rgba(240, 238, 236, 0.9); }

header.logo {
  margin-top: 5%; }

header.logo img {
  width: 100%; }

section {
  margin-top: 5%; }

section div {
  margin-top: 5%; }
